<%- include('header') %>

<h1>register</h1>

<form action="/register" method="post">

    <div class="form-group">

        <label for="NIC">NIC</label>
        <input type="text" name="NIC">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"  name="password">
      </div>
    <button type="submit" class="btn btn-dark">Register</button>
</form>

<%- include('footer') %>